body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: antiquewhite;
  }